.center {
    display: block;
    margin-left: 50%;
}
.header{
    background-color:#007bff;
    width:100%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
#wrapper {
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  